# Окружение
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Сборка
build/
dist/
*.egg-info/
*.egg

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log

# OS
.DS_Store
Thumbs.db